[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/jake/UnrealEngine/Unreal_Engine_5.7/Engine/Binaries/Linux/UnrealEditor
GenericName[en_US]=
GenericName=
Icon=/home/jake/.local/share/icons/unreal-icons/unreal-icon.png
MimeType=
Categories=Development;
Name[en_US]=Unreal Engine 5.7
Name=Unreal Engine 5.7
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
