[Desktop Entry]
Name=Unreal Engine Launcher
Comment=Launches Unreal Engine projects with the correct version
Exec=/home/jake/.local/bin/ue-launcher %f
Icon=/home/jake/.local/share/icons/unreal-icons/unreal-icon.png
Terminal=false
Type=Application
MimeType=application/x-uproject;
Categories=Development;
StartupWMClass=UnrealEditor

